
    /* .content__article{
        max-height: none;
    }
    .section__shared{
        position: absolute;
        top: auto;                
    }
    .section__img{
        width: 100%;
    }
    .content__article{
        margin: 10rem auto;
    }
    .body{
        margin: auto 4rem;
    }
    .section__img{
        background-size:cover;
    }
    .content__article{
        display: flex;
        max-width: 50%;
    } */